<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "LogoTransparent.png", alt: "MerchFlow", height: 100 %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMerch">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMerch">
      <ul class="navbar-nav me-auto">

        <li class="nav-item"><%= link_to "Dashboard", dashboard_path, class: "nav-link fw-semibold" %></li>

        <%# ---------------------------------------------------- %>
        <%# MVP V1 : MASQUAGE OPPORTUNITÉS -> pour v2 %>
        <%# <li class="nav-item">
          <%# <%= link_to merch_proposals_path,
                      class: "nav-link fw-bold #{ @pending_proposals_count.to_i > 0 ? 'text-orange' : 'text-dark' }" do %>
           <%#  Opportunités %>
            <%# if @pending_proposals_count.to_i > 0 %>
              <%# <span class="badge rounded-pill bg-warning text-dark ms-1"> %>
                <%#= @pending_proposals_count %>
              <%# </span> %>
            <%# end %>
          <%# end %>
        <%# </li> %>

        <li class="nav-item"><%= link_to "Contrats", contracts_path, class: "nav-link fw-semibold" %></li>

        <%# LIEN MISSIONS MASQUÉ -> pour v2  %>
        <%# <li class="nav-item"><%= link_to "Missions", work_sessions_path, class: "nav-link fw-semibold" %><%# </li> %>

        <li class="nav-item"><%= link_to "Planning", planning_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "France Travail", france_travail_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "Frais réels", kilometer_logs_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "Offres d'emploi", job_offers_path, class: "nav-link fw-semibold" %></li>
        <li class="nav-item"><%= link_to "Le QG", community_path, class: "nav-link fw-semibold" %></li>


      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-1"></i> <%= current_user.firstname %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li>
              <%= link_to "Paramètres de confidentialité", merch_settings_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= link_to destroy_user_session_path,
                    data: { turbo_method: :delete },
                    class: "dropdown-item text-danger fw-bold" do %>
                Déconnexion
              <% end %>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>
