<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container">

    <%= link_to root_path, class: "navbar-brand fw-bold text-danger" do %>
      Admin • MerchFlow
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarAdmin">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <%= link_to "Dashboard", admin_dashboard_path, class: "nav-link fw-semibold text-danger" %>
        </li>

        <li class="nav-item">
          <%= link_to "Utilisateurs", admin_users_path, class: "nav-link fw-semibold" %>
        </li>

        <li class="nav-item">
          <%= link_to "Invitations FVE", admin_fve_invitations_path, class: "nav-link fw-semibold" %>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-1"></i> <%= current_user.firstname %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li><%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><hr></li>
            <li>
              <%= link_to destroy_user_session_path,
                    data: { turbo_method: :delete },
                    class: "dropdown-item text-danger fw-bold" do %>
                Déconnexion
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
