<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container">

    <%= link_to fve_dashboard_path, class: "navbar-brand fw-bold text-orange" do %>
      <% if current_user.agency.present? %>
        <%# On récupère le label via le code agence, comme tu le fais dans ton mailer %>
        <%= Agency.find_by(code: current_user.agency)&.label || current_user.agency.to_s.humanize %> • MerchFlow
      <% else %>
        FVE • MerchFlow
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFve">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarFve">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <%= link_to "Dashboard", fve_dashboard_path, class: "nav-link fw-semibold" %>
        </li>

        <li class="nav-item">
          <%= link_to "Mes Annonces", fve_job_offers_path, class: "nav-link fw-semibold" %>
        </li>

        <li class="nav-item">
          <%= link_to "Annuaire", fve_merch_index_path, class: "nav-link fw-semibold" %>
        </li>

        <%# Lien Mon équipe seulement si Premium --- %>
        <% if current_user.premium? %>
          <li class="nav-item">
            <%= link_to "Mon équipe", fve_merch_favorites_path, class: "nav-link fw-semibold" %>
          </li>
        <% end %>

      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle me-1"></i> <%= current_user.firstname %>
          </a>

          <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li><%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><hr></li>
            <li>
              <%= link_to destroy_user_session_path,
                    data: { turbo_method: :delete },
                    class: "dropdown-item text-danger fw-bold" do %>
                Déconnexion
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
