<%# Ce partial est utilisé par new.html.erb et edit.html.erb %>

<%= simple_form_for([:admin, agency]) do |f| %>

  <%# Garde la notification d'erreur générale. %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%# CHAMPS : APPLICATION DES CLASSES PREMIUM %>
    <%= f.input :label,
                label: "Nom de l'Agence (Affichage)",
                placeholder: "Ex: Actiale",
                input_html: { class: 'form-control rounded-3 shadow-sm' },
                required: true %>

    <%# Gestion conditionnelle de l'édition du code %>
    <% if agency.persisted? %>
      <%= f.input :code, label: "Code Interne (Clé DB)",
                           hint: "Le code interne ne peut pas être modifié car il est utilisé par les contrats existants.",
                           input_html: {
                             readonly: true,
                             class: 'bg-light form-control rounded-3 shadow-sm' # Ajout des classes premium
                           } %>
    <% else %>
      <%= f.input :code,
                  label: "Code Interne (Optionnel)",
                  placeholder: "Laisser vide pour générer depuis le Nom",
                  required: false,
                  input_html: { class: 'form-control rounded-3 shadow-sm' } # Ajout des classes premium
                   %>
    <% end %>
  </div>

  <div class="form-actions mt-4 d-grid">
    <%# BOUTON : CHANGEMENT DE COULEUR ET STYLE PREMIUM %>
    <%= f.button :submit,
                 class: "btn btn-orange fw-bold py-2 shadow-sm" %>
  </div>
<% end %>
