<div class="container mt-4">

  <h1 class="fw-bold text-orange mb-4 text-center">
    Profil : <%= @user.full_name %>
  </h1>

  <div class="card shadow-sm rounded-4 p-4">

    <div class="row g-3">

      <div class="col-md-6">
        <label class="form-label fw-semibold">Prénom</label>
        <input class="form-control" value="<%= @user.firstname %>" readonly>
      </div>

      <div class="col-md-6">
        <label class="form-label fw-semibold">Nom</label>
        <input class="form-control" value="<%= @user.lastname %>" readonly>
      </div>

      <div class="col-md-12">
        <label class="form-label fw-semibold">Email</label>
        <input class="form-control" value="<%= @user.email %>" readonly>
      </div>

      <div class="col-md-12">
        <label class="form-label fw-semibold">Téléphone</label>
        <input class="form-control" value="<%= @user.phone_number %>" readonly>
      </div>

      <hr>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Autorise email</label>
        <%# CORRECTION : Accède à l'attribut allow_contact_email via merch_setting %>
        <input class="form-control" value="<%= @user.merch_setting&.allow_contact_email ? 'Oui' : 'Non' %>" readonly>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Autorise téléphone</label>
        <%# CORRECTION : Accède à l'attribut allow_contact_phone via merch_setting %>
        <input class="form-control" value="<%= @user.merch_setting&.allow_contact_phone ? 'Oui' : 'Non' %>" readonly>
      </div>

      <div class="col-md-4">
        <label class="form-label fw-semibold">Autorise identité</label>
        <%# CORRECTION : Accède à l'attribut allow_identity via merch_setting %>
        <input class="form-control" value="<%= @user.merch_setting&.allow_identity ? 'Oui' : 'Non' %>" readonly>
      </div>

    </div>

    <div class="mt-4 text-center">
      <%= link_to "Retour", admin_users_path, class: "btn btn-orange-outline fw-bold px-4" %>
    </div>

  </div>

</div>
