<!DOCTYPE html>
<html>
  <head>
    <title>Merchflow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- SCSS compilé + Bootstrap compilé -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Importmap (Bootstrap JS via importmap) -->
    <%= javascript_importmap_tags %>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
