<!DOCTYPE html>
<html>
  <head>
    <title>Merchflow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Open+Sans:400,700&display=swap">

    <!-- TON SCSS COMPILÉ AVEC BOOTSTRAP -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body>
    <%# Navbar %>
    <% if user_signed_in? %>
      <% if current_user&.admin? %>
        <%= render 'shared/navbar_admin' %>
      <% elsif current_user&.fve? %>
        <%= render 'shared/navbar_fve' %>
      <% else current_user&.merch? %>
        <%= render 'shared/navbar_merch' %>
      <% end %>
    <% end %>



    <%# Flash messages %>
    <%= render "shared/flash_messages" %>
    <%= yield %>
  </body>
</html>
